body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

form {
    background: white;
    padding: 20px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
}
